# MongoDB Atlas Connection String
# Replace <db_username> and <db_password> with your MongoDB Atlas database user credentials
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@page-builder-db.6jsb5ut.mongodb.net/fleet_booking?retryWrites=true&w=majority&appName=page-builder-db

# Admin Studio Password
ADMIN_PASSWORD=davlabs@123

# Server Port
PORT=4000
